
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-wrapper">
    <div class="blue_header_bar">
        <div class="container">
            <div class="row">

                <h2>The Company</h2>

            </div>
        </div>
    </div>
</div>

<div class="container marginbottom10">
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="left-nav margintop20">
                <ul>
                    <li><a href="@Url.Action("Index","AboutUs")">About us</a></li>
                    <li><a href="@Url.Action("Index","ContactUs")">Contact Us</a></li>
                    <li><a href="@Url.Action("Index","PressCenter")">Press Center</a></li>
                    <li><a href="@Url.Action("Index", "Careers")">Careers</a></li>
                    <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
                    @*<li><a href="@Url.Action("Index", "FAQ")">FAQ</a></li>
                    <li><a href="@Url.Action("Index", "Sitemap")">Sitemap</a></li>*@
                    <li><a href="@Url.Action("Index", "Terms")">Terms And Conditions</a></li>
                    <li><a href="@Url.Action("Index", "PrivacyPolicy")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Index", "Team")">Team</a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-9 margintop5">
            <h4><strong>Careers</strong></h4>
            <hr>
            <p><strong style="font-size:x-large">We are hoteliers! &nbsp;</strong></p>

            <p>Are you looking for a workplace with a great atmosphere and a lot of possibilities for personal growth? Are you full of energy and eager to learn? Do you want to be a part of a fun team? If the answer is &ldquo;yes&rdquo;, then OneFineRate is a place for you!</p>

            <p>The Founding team members are from The Oberoi Group. Ravish Swarup, is the Founder CEO. Prior to this, Ravish worked with The Oberoi Group for over 20 years. He last served the company as its Senior Vice President where he was responsible for worldwide hotel reservations, global distribution, consortia marketing, revenue and rate management, guest recognition programs etc. Ravish pioneered principles of Revenue Management in the country and created analytics based service standards in the country.</p>

            <p>Onefinerate.com is probably the world&rsquo;s first hotel shopping site that has been created by hoteliers to service the need of hoteliers on one side and guests on the other. It&rsquo;s smart business model is based on concept of demand and supply.</p>

            <p>Please forward your resume to hr@onefinerate.com or call us at <strong>+ 91-9971199840</strong></p>

        </div>
    </div>
</div>