@model OneFineRateWeb.Models.ForgotPasswordViewModel

<div role="tabpanel" class="tab-pane" id="forgot">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "red" })


        <div class="row">
            <div class="col-md-offset-2 col-xs-offset-1 ">
                <div class="col-md-10 col-xs-11 margintop-10">

                    <div class="text-danger margintop20" id="forgotPasswordError"></div>

                    <div style="color:#3c763d !important" id="forgotPasswordSuccess"></div>


                    <label style="margin-top: 20px !important">Please enter your email</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email", maxlength = "50", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red" })

                    <div class="modal-footer noborder">
                        <div class="row form-inline">
                            <button type="submit" id="btnEmailLink" class="col-md-12 btn btn-filter">Email Link</button>
                        </div>
                    </div>
                    <div class="row form-inline" style="text-align:center" id="divCloseAndBackToAccount">
                        <a href="javascript:void(0);" class="backToAccount"><span class="padding5">Instant Remember?</span> </a><br />
                        @*<a href="javascript:void()" data-dismiss="modal">close</a>*@
                    </div>
                </div>
            </div>

        </div>

    }
</div>

    @*<ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" style="width:100%"><a href="#forgot" aria-controls="ForgotPassword" role="tab" data-toggle="tab">Forgot Password</a></li>
        </ul>
        <div class="model-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="forgot">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "red" })


                        <div class="col-md-12">

                            <div class="text-danger margintop20" id="forgotPasswordError"></div>

                            <div style="color:#3c763d !important" id="forgotPasswordSuccess"></div>


                            <label style="margin-top: 20px !important">Please enter your email</label>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email", maxlength = "50", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red" })

                            <div class="modal-footer noborder">
                                <div class="row form-inline">
                                    <button type="submit" id="btnEmailLink" class="col-md-12 btn btn-success">Email Link</button>
                                </div>
                            </div>
                            <div class="row form-inline" style="text-align:center">
                                <a href="javascript:void(0);" class="backToAccount"><span class="padding5">Instant Remeber?</span> </a><br />
                                <a href="javascript:void()" data-dismiss="modal">close</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>*@
