
<!DOCTYPE html>

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>OFR</title>
    @*-------Styles-----------------*@

    @System.Web.Optimization.Styles.Render("~/bundles/css")
    @System.Web.Optimization.Styles.Render("~/bundles/dropzonescss")


    @*-------Scripts-----------------*@

    @System.Web.Optimization.Scripts.Render("~/bundles/js")
    <script src="~/js/bootbox.min.js"></script>
    <style>
        #ui-datepicker-div {
            z-index: 9999 !important;
        }
    </style>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style>
        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: grey; /* adjust as needed */
        }

        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080"; /* adjust as needed, taken from bootstrap.css */
        }
    </style>
    <script src="~/Scripts/jquery.validate.js"></script> 
    <script type="text/javascript">

        $(function () {
            //Display Result In Toastr Message
            var success = @((TempData["msg"] != null).ToString().ToLower());
            if (success == true) {
                toastr.success('@TempData["msg"]');
            }

            var error = @((TempData["ERROR"] != null).ToString().ToLower());
            if (error == true) {
                toastr.error('@TempData["ERROR"]');
            }

            //Add active class to menu
            $('.menubgtable tr td').each(function () {
                //alert($(this).find('a').attr('href'));
                $(this).removeClass('menuactive');
                if ($(this).find('a').attr('href') == window.location.pathname) {
                    $(this).parent().addClass('menuactive');
                }
                else if ($(this).find('a').attr('href') != undefined)
                {
                    if ($(this).find('a').attr('href').indexOf("/Rooms") >= 0 && window.location.pathname.indexOf("/Rooms") >= 0)
                    {
                        $(this).parent().addClass('menuactive');
                    }
                }
            });
        });

    </script>



</head>
<body>
    <header>
        <div class=" headertoprow">
            <div class="container">
                <div class="col-md-12  text-right">
                    Welcomes <strong>  @ViewBag.UserName  </strong><a href="#"></a>&nbsp;
                    @if (Session["PropId"] != null)
                    {
                        <strong>|</strong>  <strong>@Session["PropName"].ToString() &nbsp; @Html.ActionLink("[ Change ]", "MappedHotels", "Property")</strong>
                    }
                    <strong>|</strong> @Html.ActionLink("Change Password", "ChangePassword", "Account")&nbsp;<strong>|</strong>&nbsp;
                    @if (Session["PropId"] != null)
                    {
                        switch (Session["CurrCode"].ToString())
                        {
                            case "INR":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-inr"></i> @Session["CurrCode"].ToString()
                                break;
                            case "USD":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-usd"></i> @Session["CurrCode"].ToString()
                                break;
                            case "EUR":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-eur"></i> @Session["CurrCode"].ToString()
                                break;
                            case "GBP":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-gbp"></i> @Session["CurrCode"].ToString()
                                break;
                            case "AUD":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-dollar"></i> @Session["CurrCode"].ToString()
                                break;
                            case "SGD":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-dollar"></i> @Session["CurrCode"].ToString()
                                break;
                            case "CNY":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-cny"></i> @Session["CurrCode"].ToString()
                                break;
                            case "CAD":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-dollar"></i> @Session["CurrCode"].ToString()
                                break;
                            case "JPY":<img src="@Session["Flag"].ToString()" /> <i class="fa fa-jpy"></i> @Session["CurrCode"].ToString()
                                break;
                            default:<img src="@Session["Flag"].ToString()" /> @Session["CurrCode"].ToString()
                                break;
                        }
                        <strong>|</strong>
                    }
                    &nbsp;@Html.ActionLink("Logout", "LogOut", "Account")
                </div>
            </div>
        </div>
        <div class=" mainnavbar">
            <div class="container">
                @*<div class="col-md-2"><a href="@Url.Action("MappedHotels", "Property")"><img src="/images/ofr-logo_blk.png" /></a></div>*@
                <div class="col-md-2"><a href="@Url.Action("MappedHotels", "Property")"><img src="~/images/logoNew.png" /></a></div>
                <div class="col-md-10 text-right padding10 text-right">
                    <a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["OFRBaseUrl"].ToString()OfferReview?Id=@OneFineRateAppUtil.clsUtils.Encode(Session["PropId"].ToString())" class="btn btn-info"> View me in OFR</a>
                </div>
            </div>
        </div>
    </header>

  
    <div id="Load" style="display:none;top:50%; position:fixed;left:50%; z-index:10;">
        <img src="~/img/select2-spinner.gif" />
    </div>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div id="dvLoading"></div>

        <div id="wrapper_admin">

            <div class="container">
                <nav>

                    @ViewBag.Menu

                </nav>
            </div>

        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="container margintop20">
        <div class="row">
            <div class="col-xs-3">
                @ViewBag.PropertyMenu


            </div>
            <!-- left menu ends-->
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>

    </div>
    <!-- container div END  -->
    <!-- CONTENT-WRAPPER SECTION END-->

    <div id="Progress" class="overlay" style="display:none">
        <div class="loader" style="top:40%; position:fixed;left:45%; z-index:9999999 !important;"></div>
    </div>


    <footer>
        <div class="container">
            <table width="20%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top"><a href="#">Contact OFR</a></td>
                    <td><a href="#">Terms of Use</a></td>
                    <td><a href="#">FAQ's</a></td>
                </tr>
            </table>

        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    @RenderSection("ValidationScript", required: false)
    @RenderSection("DropZoneScripts", required: false)

</body>
</html>
