@model OneFineRateBLL.Entities.NegotiationEmailTempleteModel
@using System.Configuration
@using OneFineRateAppUtil

@{
    Layout = null;

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>


    if (Model != null)
    {
        <table style="width:900px; border:4px solid #5e2e86;" border="0" cellspacing="0" cellpadding="0" class="table">
            <tbody>
                <tr>
                    <td colspan="2" valign="top" align="center">
                        <img src="@ConfigurationManager.AppSettings["OFRBaseUrl"].ToString()images/logoNew.png" onerror="this.src='@Url.Content("~/images/noimage.jpg")'" alt="OneFineRate Logo" height="72" />

                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="background-color:#fecb00; color:#000; padding:5px; font-size:22px;">  <strong>@Model.Status</strong></td>

                </tr>

                <tr>
                    <td style="line-height:30px; height:30px;">
                        <label>
                            <a href="@Model.CallbackUrl">Click here.</a>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td style="width:600px;" valign="top">
                        <table border="0" cellspacing="0" cellpadding="0" class="table" style="padding-left:5px;">
                            <tbody>
                                <tr>
                                    <td width="18%" rowspan="2" valign="top">
                                        <img src="@Model.BookingModify.sImgUrl" alt="Image" height="100" width="200" style="border: 2px solid #5e2e86;">
                                    </td>
                                    <td width="2%" valign="top">&nbsp;</td>
                                    <td valign="top">
                                        <span class="hotelname">
                                            @Model.BookingModify.HotelName
                                        </span><br />
                                        @{
                                            string ofrUrl = System.Configuration.ConfigurationManager.AppSettings["OFRBaseUrl"];
                                        }
                                        <img src="@ofrUrl/images/inner-star@(Model.BookingModify.StarCategoryId).png"><br /><br />
                                        <address>
                                            @Model.BookingModify.Address
                                        </address>
                                        @if (!string.IsNullOrEmpty(Model.BookingModify.RatingImageUrl))
                                        {
                                            <img src="@Model.BookingModify.RatingImageUrl" onerror="this.src='@Url.Content("~/images/noimage.jpg")'"><br />
                                        }
                                        @if (!string.IsNullOrEmpty(Model.BookingModify.RatingString))
                                        {
                                            <em style="color:green">
                                                @Model.BookingModify.RatingString
                                            </em>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <table class="table" cellpadding="5">
                                            <tbody>
                                                <tr>
                                                    <td><strong>STATUS </strong></td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.BookingStatus</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>BOOKING ID</strong></td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.BookingId</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>YOUR RESERVATION</strong></td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.Reservation</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>CHECK IN DATE</strong></td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.CheckIn</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>CHECK OUT DATE</strong> </td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.ChekOut</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>BOOKED BY</strong> </td>
                                                    <td>:</td>
                                                    <td>@Model.BookingModify.Booker (@Model.BookingModify.EmailOFR)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    @if (Model.IsNegotiationAcceptedBySystem)
                    {
                        <td style="width:300px;" valign="top">
                            <h3>Rate information</h3>
                            <hr>
                            <table border="0" cellspacing="0" cellpadding="5" class="table" style="width:100%;font-weight:bold;">
                                <tbody>

                                    <tr>
                                        <td><strong>Your offered amount:</strong></td>
                                        <td>@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.dTotalNegotiateAmount))</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tax and Service Fees:</strong></td>
                                        <td>@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.sExtra2) + Convert.ToDecimal(Model.BookingModify.dOfrServiceCharge) + Convert.ToDecimal(Model.BookingModify.dOfrGSTONServiceCharge))</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Charges:</strong></td>
                                        <td>@Model.BookingModify.Symbol @(clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.dTotalNegotiateAmount) + Convert.ToDecimal(Model.BookingModify.dOfrServiceCharge) + Convert.ToDecimal(Model.BookingModify.dOfrGSTONServiceCharge) + Convert.ToDecimal(Model.BookingModify.sExtra2)))</td>
                                    </tr>
                                    @*<tr class="row">
                                            <td class="col-xs-7">Offer Price Per Room/ Night</td>
                                            <td class="col-xs-1">:</td>
                                            <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.AvgAmount))</td>
                                        </tr>
                                        <tr class="row">
                                            <td class="col-xs-7">Subtotal</td>
                                            <td class="col-xs-1">:</td>
                                            <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.TotalAmount))</td>
                                        </tr>
                                        <tr class="row">
                                            <td class="col-xs-7">Extra Bed Charges</td>
                                            <td class="col-xs-1">:</td>
                                            <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.ExtraBedAmount))</td>
                                        </tr>
                                        <tr class="row">
                                            <td class="col-xs-7">Taxes and Service Fees </td>
                                            <td class="col-xs-1">:</td>
                                            <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.Tax))</td>
                                        </tr>

                                        <tr class="row">
                                            <td class="col-xs-7"><b>Total Charges </b></td>
                                            <td class="col-xs-1">:</td>
                                            <td class="col-xs-4"><b>@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.SubTotal))</b></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </td>
                    }
                    else
                    {
                        <td style="width:300px;" valign="top">
                            <table border="0" cellspacing="0" cellpadding="5" class="table" style="width:100%;font-weight:bold;">
                                <tbody>
                                    <tr>
                                        <td>

                                            @{
                                                string baseMapUrl = "http://maps.googleapis.com/maps/api/staticmap?center=";
                                                string dbMapDataUrl = Model.BookingModify.dLatitude + "," + Model.BookingModify.dLongitude;
                                                string fullMapUrl = baseMapUrl + dbMapDataUrl + "&zoom=13&scale=false&size=300x200&maptype=roadmap&key=AIzaSyBA8k8_YKEbkfECgXpF6FKdMkMA1jS1qAQ&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C" + dbMapDataUrl;

                                            }

                                            <a href="@Model.BookingModify.slargeMapURL">
                                                <img width="300" src="@fullMapUrl" alt="Map">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-7">Your offered amount</td>
                                        <td class="col-xs-1">:</td>
                                        <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.dTotalNegotiateAmount))</td>
                                    </tr>

                                    <tr class="row">
                                        <td class="col-xs-7">Tax and Service Fees</td>
                                        <td class="col-xs-1">:</td>
                                        <td class="col-xs-4">@Model.BookingModify.Symbol @clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.dTaxes) + Convert.ToDecimal(Model.BookingModify.dOfrServiceCharge) + Convert.ToDecimal(Model.BookingModify.dOfrGSTONServiceCharge))</td>
                                    </tr>

                                    <tr class="row">
                                        <td class="col-xs-7">Total Charges</td>
                                        <td class="col-xs-1">:</td>
                                        <td class="col-xs-4">@Model.BookingModify.Symbol @(clsUtils.ConvertNumberToCommaSeprated(Convert.ToDecimal(Model.BookingModify.dTotalNegotiateAmount) + Convert.ToDecimal(Model.BookingModify.dTaxes) + Convert.ToDecimal(Model.BookingModify.dOfrServiceCharge) + Convert.ToDecimal(Model.BookingModify.dOfrGSTONServiceCharge)))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                                                }

                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4 style="background-color:#5e2e86; color:#fff; padding:5px;">House Rules</h4>

                        <table class="table">

                            <tbody>

                                @if (!String.IsNullOrEmpty(Model.BookingModify.sCheckInMM))
                                {
                                    <tr>
                                        <td><b>Check-In</b></td>
                                        <td>:</td>
                                        <td>

                                            @if (Model.BookingModify.b24HrsCheckIn == true)
                                            {
                                                <text>
                                                    24 hours Check-In is Available.Early Check-In is @if (Model.BookingModify.bEarlyCheckInChargeable == true)
                                                    { <text> chargeable.</text> }
                                                    else
                                                    {<text>not chargeable.</text>}
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    From @Html.DisplayFor(m => m.BookingModify.sCheckInHH):@Html.DisplayFor(m => m.BookingModify.sCheckInMM). Early Check-In is @if (Model.BookingModify.bEarlyCheckInChargeable == true)
                                                    { <text>chargeable.</text> }
                                                    else
                                                    {<text>not chargeable.</text>}
                                                </text>
                                            }
                                        </td>

                                    </tr>
                                }


                                @if (!String.IsNullOrEmpty(Model.BookingModify.sCheckoutMM))
                                {
                                    <tr>
                                        <td><b>Check-Out</b></td>
                                        <td>:	</td>
                                        <td>
                                            @if (Model.BookingModify.b24HrsCheckout == true)
                                            {
                                                <text>
                                                    24 hours Check-Out is Available. Late Check-Out is @if (Model.BookingModify.bEarlyCheckoutChargeable == true)
                                                    { <label>chargeable.</label> }
                                                    else
                                                    {<label>not chargeable.</label>}
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    Until @Html.DisplayFor(m => m.BookingModify.sCheckoutHH):@Html.DisplayFor(m => m.BookingModify.sCheckoutMM). hrs @clsUtils.GetTimeType(Model.BookingModify.sCheckoutHH)Late Check-Out is @if (Model.BookingModify.bEarlyCheckoutChargeable == true)
                                                    { <label>chargeable.</label> }
                                                    else
                                                    {<label>not chargeable.</label>}
                                                </text>
                                            }


                                        </td>
                                    </tr>
                                }


                                <tr>
                                    <td valign="top"><b>Cancellation</b></td>
                                    <td valign="top">:	</td>
                                    <td valign="top">Cancellation policies vary according to room rate and package.</td>
                                </tr>

                                @if (!Model.BookingModify.IsTG)
                                {
                                    <tr>
                                        <td><b>Children and Extra Beds</b></td>
                                        <td>:	</td>
                                        <td colspan="2">
                                            <ul class="mar-padd0" style="list-style-type:none">

                                                <li>All children are welcome.</li>
                                                <li>Complementary stay for children below @Html.DisplayFor(m => m.BookingModify.iComplimentaryStayAge) years without extra bed.</li>
                                                <li>Extrabed required for children from @Html.DisplayFor(m => m.BookingModify.iExtraBedRequiredFrom) years.</li>
                                                <li>Extra child or an adult using an Extrabed will be charged at  @Model.BookingModify.Symbol @Html.DisplayFor(m => m.BookingModify.dExtraBedCharges) excluding taxes.</li>
                                                <li>@Html.DisplayFor(m => m.BookingModify.iMinCheckInAge) years is Minimum age of Check-In.</li>
                                            </ul>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Other Policies</b></td>
                                        <td>:</td>
                                        <td>
                                            <ul style="list-style-type:none" class="mar-padd0">
                                                @if (Model.BookingModify.bVisitorsAllowed == true)
                                                {
                                                    <li style="margin-left:-10px !important">Visitors are allowed.</li>
                                                }

                                                @if (Model.BookingModify.bAlcoholAllowedOnsite == true)
                                                {
                                                    <li style="margin-left:-10px !important">Alcohol allowed onsite.</li>
                                                }

                                                @if (Model.BookingModify.bAlcoholServedOnsite == true)
                                                {
                                                    <li style="margin-left:-10px !important">Alcohol Served onsite.</li>
                                                }

                                                @if (Model.BookingModify.bPetsAllowed == true)
                                                {
                                                    <li style="margin-left:-10px !important">Pets are not allowed.</li>
                                                }

                                                @if (Model.BookingModify.bPartiesAllowed == true)
                                                {
                                                    <li style="margin-left:-10px !important">Stag/ bachelor and hen/ bachelorette parties are allowed.</li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                }


                                @if (Model.BookingModify.lstCreditCards != null && Model.BookingModify.lstCreditCards.Count > 0)
                                {
                                    <tr>
                                        <td><b>Cards accepted at this property</b> </td>
                                        <td>:</td>
                                        <td>
                                            @foreach (var item in Model.BookingModify.lstCreditCards)
                                            {
                                                <img src="@item.sImg.Replace(" ","")">
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h4 style="background-color:#5e2e86; color:#fff; padding:5px;">OneFineRate Important Info</h4>

                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <ul>
                                            <li>Requests for bed types, early check in, late check out, smoking room etc cannot be guaranteed. These requests must be made directly to the hotel confirmed and are subject to availability.</li>
                                            <li><strong>Reservation is guaranteed for arrival on the check-in date only.</strong> To avoid cancellation of your reservation due to a no show please alert the hotel xx days/ hours in advance to claim a refund.</li>
                                            <li>The reservation holder must present a valid credit card at check-in. </li>
                                            <li>According to government regulations, it is mandatory to present a valid Photo ID at check in by every person above the age of 18 staying at the hotel. A Drivers License, Voters Card, Passport are all acceptable as identity proof, however, please note PAN cards are not a valid ID. Without a valid ID no guest will be allowed to check in. </li>
                                            <li>The inclusion of an extra bed with a booking is facilitated with a folding cot or a mattress.</li>
                                            <li>A booking cannot be cancelled on or after the check in date and time mentioned in the Hotel Confirmation Voucher.</li>
                                            <li>
                                                The hotel reserves the right of admission. Accommodation can be denied to guests posing as a ' couple' if suitable proof of identification is not presented at check-in. OneFineRate will not be responsible for any check-in denied by the hotel due to the aforesaid reason.
                                            </li>
                                            <li>
                                                All distances (Airport/Station etc.) are approximate and actual driving distances may vary based on the route taken.
                                            </li>
                                            <li>
                                                Hotels may charge a mandatory meal surcharge on festive periods e.g. Christmas, New Year's Eve etc... All additional charges (including mandatory meal surcharges) need to be cleared directly at the hotel.
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>

                                                }

                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td><img src="@OneFineRateAppUtil.clsUtils.GetTripAdvisorLogoUrl()" /></td>
                                                            <td style="vertical-align:middle;">
                                                                <a href="https://www.tripadvisor.in">&copy; [@DateTime.Today.Year] TripAdvisor LLC. All rights reserved </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

}
