@using MvcCheckBoxList.Model
@model OneFineRateBLL.Entities.etblPropertyRoomTypeRoomAmentiesMap

@{
    ViewBag.Title = "Amenities";
    Layout = "~/Views/Shared/_LayoutProperty.cshtml";
}

<script src="~/js/Jquery1.10.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function GetResult(data) {
        if (data.st == '1') {
            toastr.success(data.msg);
            setInterval(
               function () { window.location.href = "/Rooms"; }
           , 2000);
        }
        else {
            toastr.error(data.msg);
        }
    }
</script>
<style>
    label {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .alinghTable td {
        width: 35%;
    }

      .marginRightRadio1 {
        width: 200px;
    }
    .marginRightRadio {
        width: 33%;
    }
</style>

@using (Ajax.BeginForm("ModifyRoomAmenities", "Rooms", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "targetid", HttpMethod = "POST", OnSuccess = "GetResult" }))
{
    @Html.HiddenFor(u => u.iPropId)
    @Html.HiddenFor(u => u.iRoomId)
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    Amenities/ Services @Model.sRoomName

                </h4>
            </div>
            <div>
                <div class="panel-body">

                    <div class="col-md-12">




                        <div class="row">
                            <div class="col-xs-12">
                                <div class="subheadcolor">
                                    <h4>Basic Room Amenities </h4>
                                </div>
                                <hr />
                            </div>

                            <div class="col-md-12">

                            @{

    if (Model.iCommonBasicAmenitieRadio != null)
    {
        Model.iBasicAmenitiesRadio = Model.iCommonBasicAmenitieRadio;
        int i = 1;
        foreach (var item in Model.RoomAnenitiesRadio)
        {
            i++;
            if (i == 4)
            {  @Html.RadioButtonFor(m => m.iCommonBasicAmenitieRadio, item.iHotelRoomAmenityId, new { disabled = "disabled" })
                                @Html.Label(item.sRoomAmenity, new { @class = "marginRightRadio1" })
            }
            else { 
                @Html.RadioButtonFor(m => m.iCommonBasicAmenitieRadio, item.iHotelRoomAmenityId, new { disabled = "disabled" })
                                @Html.Label(item.sRoomAmenity, new { @class = "marginRightRadio" })
            }

        }
    }
    else
    {
        int i = 1;
        foreach (var item in Model.RoomAnenitiesRadio)
        {
            i++;
            if (i == 4)
            {  @Html.RadioButtonFor(m => m.iCommonBasicAmenitieRadio, item.iHotelRoomAmenityId, new { disabled = "disabled" })
            @Html.Label(item.sRoomAmenity, new { @class = "marginRightRadio1" })
            }
            else
            {
                @Html.RadioButtonFor(m => m.iCommonBasicAmenitieRadio, item.iHotelRoomAmenityId, new { disabled = "disabled" })
                @Html.Label(item.sRoomAmenity, new { @class = "marginRightRadio" })
            }

        }
    }

}
                            </div>



                        </div>
                        @{ var putCheckBoxesIntoTable = new HtmlListInfo(HtmlTag.table, 3, new { @class = "alinghTable", style = "width:100%;" }); }

                        @Html.CheckBoxListFor(m => m.SelectedBasicRoomAmenities, m => m.BasicRoomAmenitiesItems,
                            group => group.Value,
                            group => group.Text,
                            m => m.Selected, new { }, putCheckBoxesIntoTable, Model.DisabledBasicRoomAmenities, null)

                    </div>
                    <div class="col-md-12">

                        <!-- Basic room ends -->
                        <!-- Additional start-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="subheadcolor"><h4>Additional Amenities</h4></div>
                                <hr />
                            </div>
                        </div>

                        @Html.CheckBoxListFor(m => m.SelectedAdditionalAmenities, m => m.AdditionalAmenitiesItems,
                            group => group.Value,
                            group => group.Text,
             m => m.Selected, new { }, putCheckBoxesIntoTable, Model.DisabledAdditionalAmenities, null)


                        <!-- Bathroom start-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="subheadcolor"><h4>Bathroom Amenities</h4></div>
                                <hr />
                            </div>
                        </div>

                        @Html.CheckBoxListFor(m => m.SelectedBathroomAmenities, m => m.BathroomAmenitiesItems,
                            group => group.Value,
                            group => group.Text,
             m => m.Selected, new { }, putCheckBoxesIntoTable, Model.DisabledBathroomAmenities, null)


                        <!-- Bedding start-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="subheadcolor"><h4>Bedding and Linens</h4></div>
                                <hr />
                            </div>
                        </div>

                        @Html.CheckBoxListFor(m => m.SelectedBeddingandLinens, m => m.BeddingandLinensItems,
                            group => group.Value,
                            group => group.Text,
             m => m.Selected, new { }, putCheckBoxesIntoTable, Model.DisabledBeddingandLinens, null)



                        <hr />
                    </div>
                </div>

            </div>

            <br />
            <div class="row" style="text-align:right; padding-right:10px;">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary" value="Save">
                    <a href="@Url.Action("Index","Rooms")" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            <br />
        </div>
        <!-- Panel 1 div END  -->


    </div>
    <div id="targetid"></div>
    <!-- Panel group div END  -->
}

