
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!--blue bg-starts here-->
<div class="main-wrapper">
    <div class="blue_header_bar">
        <div class="container">
            <div class="row">

                <h2>The Company</h2>

            </div>
        </div>
    </div>
    <!--2nd row start-->

</div>
<!--2nd row row end-->
<!--3rd row row start-->
<div class="container marginbottom10">
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="left-nav margintop20 marginbottom20">
                <ul>
                    <li><a href="@Url.Action("Index","AboutUs")">About us</a></li>
                    <li><a href="@Url.Action("Index","ContactUs")">Contact Us</a></li>
                    <li><a href="@Url.Action("Index","PressCenter")">Press Center</a></li>
                    <li><a href="@Url.Action("Index", "Careers")">Careers</a></li>
                    <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
                    @*<li><a href="@Url.Action("Index", "FAQ")">FAQ</a></li>
                    <li><a href="@Url.Action("Index", "Sitemap")">Sitemap</a></li>*@
                    <li><a href="@Url.Action("Index", "Terms")">Terms And Conditions</a></li>
                    <li><a href="@Url.Action("Index", "PrivacyPolicy")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Index", "Team")">Team</a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-9 margintop5">
            <h4 class="paddingtop15"><strong>Feedback</strong></h4>
            <hr>
            <div class="row">
                <div class="col-md-5"><div class="form-group"><label>Name</label> <input type="text" class="form-control" placeholder="Name"></div></div>
                <div class="col-md-5"><div class="form-group"><label>Email</label> <input type="mail" class="form-control" placeholder="Email"></div></div>
            </div>
            <div class="row">
                <div class="col-md-5"><div class="form-group"><label>Mobile</label> <input type="text" class="form-control" placeholder="Mobile"></div></div>
                <div class="col-md-5"><div class="form-group"><label>Subject</label> <input type="text" class="form-control" placeholder="Subject"></div></div>
            </div>
            <div class="row">
                <div class="col-md-10"><div class="form-group"><label>Feedback</label> <textarea class="form-control height154"></textarea></div></div>
            </div>
            <div class="row">
                <div class="col-md-10 marginbottom10"><button type="submit" class="btn btn-success">Submit</button></div>
            </div>
        </div>
    </div>
</div>
