
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="blue_header_bar">
        <div class="container">
            <div class="row">

                <h2>The Company</h2>

            </div>
        </div>
    </div>
</div>

<div class="container marginbottom10">
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="left-nav margintop20">
                <ul>
                    <li><a href="@Url.Action("Index","AboutUs")">About us</a></li>
                    <li><a href="@Url.Action("Index","ContactUs")">Contact Us</a></li>
                    <li><a href="@Url.Action("Index","PressCenter")">Press Center</a></li>
                    <li><a href="@Url.Action("Index", "Careers")">Careers</a></li>
                    <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
                    @*<li><a href="@Url.Action("Index", "FAQ")">FAQ</a></li>
                    <li><a href="@Url.Action("Index", "Sitemap")">Sitemap</a></li>*@
                    <li><a href="@Url.Action("Index", "Terms")">Terms And Conditions</a></li>
                    <li><a href="@Url.Action("Index", "PrivacyPolicy")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("Index", "Team")">Team</a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-9 margintop5">
            <p><strong>What is OFR?</strong></p>

            <p>Onefinerate.com, is an all in one hotel shopping site with four flexible options &ndash; Bid, Bargain, Buy and Corporate. As the name suggests, &lsquo;Bid&rsquo; and &lsquo;Bargain&rsquo; allow guests to name the rate that they are willing to pay. While &lsquo;Bidding&rsquo; requires proposing a rate that they consider appropriate for a hotel under a category selection i.e. 5 star, 4 star etc. &lsquo;Bargain&rsquo; is proposing a rate for a specific hotel. &lsquo; Buy&rsquo; is the standard Best Available Rates as distributed by Hotels.</p>

            <p>Under &lsquo;Corporate&rsquo;, hotels can opt to sell their room inventory to small, medium and large businesses. Based on their business in books and projected forecasts, hotels are reasonably sure of their room occupancy. Poor occupancy days will enable hotels to distribute higher discounted rates to corporates. Given that the distribution is to a defined user group and is enabled through corporate e mail address only, hotels will be keen to distribute rates or include rate inclusions without ever disturbing rate sensitive issues with their existing corporate contracts or rate parity agreements. This works well where the hotels would like to be selective of their guest profile and guests who would like to stay in hotels that are safe, secure and trustworthy. OFR enables meeting of needs of both &ndash; the guest and the corporate traveller!</p>

            <p><strong>How does OFR work?</strong></p>

            <p>At OneFineRate travellers can explore, compare and book hotel rooms on one single platform. OneFineRate.com offers three parallel alternatives to book a hotel room -- you can either <strong>bid</strong> for your preferred hotel or you can <strong>bargain</strong> a rate you wish to pay directly to your hotel. Or, if you know what exactly you want then simply <strong>book</strong> it at the price offered by the hotel.</p>

            <p>Customers can choose from a range of hotels across cities and destinations offering incredible rates and amenities.</p>

            <p>So, if you are jet-setting to a special destination or a business trip to an unfamiliar city, book your hotel stays through our multiple alternatives to not only save on the hotel but make the most of your visit.</p>

            <p>To understand how we operate, you need to understand the <strong>three</strong> major components we operate on:</p>

            <p><strong>Bid</strong>: Place a blind bid by selecting your star rating of the hotel. If you are looking for a specific locality in the city, you can select that too. OFR will recommend the range of rates to choose from, and if your bid is accepted you will get a deal for yourself in as short a time as possible.</p>

            <p><strong>Bargain</strong>: Bargain the rates you wish to pay for your preferred hotel and OFR will work out a deal with your hotel at the price you wish to pay. If we are unable to find your preferred hotel at your price, we will find you a similar hotel with same services and amenities for the same price.</p>

            <p><strong>Book</strong>: Our third platform is like any other travel portal, if you know exactly what you want than you can simply buy it at the rate offered by the hotel.</p>

            <p>In addition, OFR also provides discounted <strong>corporate rates</strong> for your business travel. Our self booking tool provides rates for any destination, saving you and your support staff the hassle to bargain rates for your travel. Let OFR work special rates for your business travel now and in the future.</p>

            <p><strong>Who does it benefit</strong></p>

            <p>OFR benefits both the customer and our hotel partners.</p>

            <p>While customers get the best possible rate and choice of hotel, our hotel partners are able to maximise their yields.</p>

            <p>One Fine Rate works with smart hotel managers who value converting unsold rooms by offering a great deal to customers [travellers].&nbsp; We are the bridge that connects our hotel partners to new customers [travellers]. So, our partners get a new client, and the customer discovers a new hotel at a great deal.&nbsp; Everybody wins!! &nbsp;</p>

            <p><strong>Who are we and why should you trust us?</strong></p>

            <p>OneFineRate.com is a website owned by Samaara Hotels &amp; Services&nbsp; Pvt. Ltd. that was formed in the year 2015.</p>

            <p>We are hoteliers! &nbsp;</p>

            <p>The Founding team members are from The Oberoi Group. Ravish Swarup, is the Founder CEO. Prior to this, Ravish worked with The Oberoi Group for over 20 years. He last served the company as its Senior Vice President where he was responsible for worldwide hotel reservations, global distribution, consortia marketing, revenue and rate management, guest recognition programs etc. Ravish pioneered principles of Revenue Management in the country and created analytics based service standards in the country.</p>

            <p>Onefinerate.com is probably the world&rsquo;s first hotel shopping site that has been created by hoteliers to service the need of hoteliers on one side and guests on the other. It&rsquo;s smart business model is based on concept of demand and supply.</p>

            <p>Hotel Managers work on OFR&rsquo;s automated extranet to either unknown hotels o the hotel for the direct guests and corporate that allows the guest three easy ways to &nbsp;hotel booking website, is an online booking platform created by hoteliers who have vast experience in the industry and believe that their in-depth knowledge of smart revenue management can bring dividends for both customers and hotel partners.</p>

            <p>Want more, better choices for your next hotel stay? Get more than you expected, for less than you thought, at OneFineRate. Choose from a huge collection of great hotels that will give you incredible prices with incredible extras. &nbsp;Hotels are willing to give you that &lsquo;extra&rsquo;--a free night, an upgraded room, a special rate or a great amenity. &nbsp;</p>

            <p>One Fine Rate works with smart Hotel Managers who value converting the business to a great deal--for you and for them! OneFineRate, or &lsquo;OFR&rsquo;, is a creation of hoteliers &nbsp;who understand right pricing is smart business. Whether it&rsquo;s a business trip to an unfamiliar place or a getaway to a special destination, OFR&rsquo;s four different purchase &nbsp;options make it easy for you. First, pick your destination and your dates. Then &ldquo;BID&rdquo; for the best price and star level--we&#39;ll find a quality name brand or independent hotel for you!! Or &ldquo;NEGOTIATE&rdquo;--for the rate you want to pay. If you already know exactly what you want, &ldquo;BUY&rdquo; it fast and easy! OneFineRate is your business travel partner, too--with discounted corporate rates. . .no need to go through a corporate office or support staff. &nbsp;Reserve it right here! OneFineRate. The best choice for a great stay--&nbsp;at quality brands or independent boutique hotels. Stay where you want. &nbsp;Pay what you want. At the all-in-one hotel shopping site with four flexible options. . .and always-great savings.</p>

        </div>
    </div>
</div>