@model  OneFineRateBLL.Entities.eBookingShareInfo
@{
    ViewBag.Title = "ShareBookingInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bs-example {
        margin: 20px;
    }

    .icon-input-btn {
        display: inline-block;
        position: relative;
    }

        .icon-input-btn input[type="submit"] {
            padding-left: 2em;
        }

        .icon-input-btn .glyphicon {
            display: inline-block;
            position: absolute;
            left: 0.65em;
            top: 30%;
            color: #fff;
        }
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: #fff !important; /* adjust as needed */
        background-color: #5e2e86 !important;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
    .panel-heading {
        background-color: #5e2e86 !important;
        color: #fff !important;
    }
</style>
<div class="container margintop20 border1">
    @if (!Request.Browser.IsMobileDevice)
    {
        <div class="row tablebluebg1 hidden-xs">
            <div class="col-md-4">Share via Email</div>
            <div class="col-md-4">Share on Facebook & Earn Loyalty points</div>
            <div class="col-md-4">Share on Google + & Earn Loyalty points</div>
        </div>
        <div class="whitebg ">
            <div class="row" id="bodyarea">
                <div class="col-xs-12 tablebluebg1 hidden-lg">Share via Email</div>
                <div class="col-md-4">
                    <div class="row ">
                        @using (Html.BeginForm("ShareInformationViaEmail", "Negotiation", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, id = "frmShare", role = "form" }))
                        {
                            <div class="col-xs-12">Enter Email Address(es) below</div>
                            <div class="col-xs-12">
                                @Html.HiddenFor(u => u.BookingId)
                                @Html.HiddenFor(u => u.HotelDesc)
                                @Html.HiddenFor(u => u.iBookingId)
                                @Html.HiddenFor(u => u.iPropId)
                                @Html.HiddenFor(u => u.PropertyId)
                                @Html.HiddenFor(u => u.sBookedBy)
                                @Html.HiddenFor(u => u.sHotelName)
                                @Html.HiddenFor(u => u.sImgUrl)

                                @*@Html.LabelFor(model=>model.sBookedBy)*@
                                @Html.TextBoxFor(u => u.sMailTo, new { @class = "form-control", required = "true", type = "email" })
                                @Html.ValidationMessageFor(model => model.sMailTo, "", new { @class = "red" })

                            </div>
                            <div class="col-xs-12 margintop10">@Html.TextAreaFor(u => u.sDescription, new { @readonly = "", @class = "form-control", style = "width:100%; height:80px; " })</div>
                            <div class="col-xs-12 margintop10 text-center"><input type="image" src="~/images/sendemail.png" alt="Submit"></div>
                        }
                    </div>
                </div>
                <div class="col-xs-12 tablebluebg1 hidden-lg">Share on Facebook & Earn Loyalty points</div>
                <div class="col-md-4">
                    <div class="row ">
                        <div class="col-xs-12">Post to your Wall</div>
                        <div class="col-xs-12">@Html.TextAreaFor(m => m.sDescription, new { @readonly = "", placeholder = "Facebook post message", @class = "form-control", style = "width:100%; height:125px;", id = "fb_PostMessage" })</div>
                        <div class="col-xs-12 margintop10 text-center">
                            <input type="image" src="~/images/sharonfb.png" class="share_fb" alt="Submit">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 tablebluebg1 hidden-lg">Share on Google + & Earn Loyalty points</div>
                <div class="col-md-4">
                    <div class="row ">
                        <div class="col-xs-12">Share the Post</div>
                        <div class="col-xs-12">@Html.TextAreaFor(m => m.sDescription, new { @readonly = "", placeholder = "Google post message", @class = "form-control", style = "width:100%; height:125px; ", id = "google_PostMessage" })</div>
                        <div class="col-xs-12 margintop10 text-center">
                            <div style="display:none" id="hdnGoogleSharePost"></div>
                            <input type="image" class="share_google" src="~/images/postgoogle.png" alt="Submit" id="btnShare_google">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel-group" id="bodyarea">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="accordion-toggle" data-parent="#bodyarea" href="#ShareViaEmail">
                            Share via Email
                        </a>
                    </h4>
                </div>
                <div id="ShareViaEmail" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row ">
                            @using (Html.BeginForm("ShareInformationViaEmail", "Negotiation", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, id = "frmShare", role = "form" }))
                            {
                                <div class="col-xs-12">Enter Email Address(es) below</div>
                                <div class="col-xs-12">
                                    @Html.HiddenFor(u => u.BookingId)
                                    @Html.HiddenFor(u => u.HotelDesc)
                                    @Html.HiddenFor(u => u.iBookingId)
                                    @Html.HiddenFor(u => u.iPropId)
                                    @Html.HiddenFor(u => u.PropertyId)
                                    @Html.HiddenFor(u => u.sBookedBy)
                                    @Html.HiddenFor(u => u.sHotelName)
                                    @Html.HiddenFor(u => u.sImgUrl)

                                    @*@Html.LabelFor(model=>model.sBookedBy)*@
                                    @Html.TextBoxFor(u => u.sMailTo, new { @class = "form-control", required = "true", type = "email" })
                                    @Html.ValidationMessageFor(model => model.sMailTo, "", new { @class = "red" })

                                </div>
                                <div class="col-xs-12 margintop10">@Html.TextAreaFor(u => u.sDescription, new { @readonly = "", @class = "form-control", style = "width:100%; height:80px; " })</div>
                                <div class="col-xs-12 margintop10 text-center"><input type="image" src="~/images/sendemail.png" alt="Submit"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="accordion-toggle" data-parent="#bodyarea" href="#ShareOnFacebook">
                            Share on Facebook & Earn Loyalty points
                        </a>
                    </h4>
                </div>
                <div id="ShareOnFacebook" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-xs-12">Post to your Wall</div>
                            <div class="col-xs-12">@Html.TextAreaFor(m => m.sDescription, new { @readonly = "", placeholder = "Facebook post message", @class = "form-control", style = "width:100%; height:125px;", id = "fb_PostMessage" })</div>
                            <div class="col-xs-12 margintop10 text-center">
                                <input type="image" src="~/images/sharonfb.png" class="share_fb" alt="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="accordion-toggle" data-parent="#bodyarea" href="#ShareViaGoogle">
                            Share on Google + & Earn Loyalty points
                        </a>
                    </h4>
                </div>
                <div id="ShareViaGoogle" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-xs-12">Share the Post</div>
                            <div class="col-xs-12">@Html.TextAreaFor(m => m.sDescription, new { @readonly = "", placeholder = "Google post message", @class = "form-control", style = "width:100%; height:125px; ", id = "google_PostMessage" })</div>
                            <div class="col-xs-12 margintop10 text-center">
                                <div style="display:none" id="hdnGoogleSharePost"></div>
                                <input type="image" class="share_google" src="~/images/postgoogle.png" alt="Submit" id="btnShare_google">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @*<div class="margintop15 marginbottom20" id="rating">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tablebluebg1" role="tablist">
                <li role="presentation" class="liTrip active"><a href="#divFaceBook" aria-controls="divTripadvisor" role="tab" data-toggle="tab">Social Media</a></li>
                <li role="presentation" class="liFac"><a href="#divEmail" aria-controls="divFacilities" role="tab" data-toggle="tab">Email</a></li>
                <li role="presentation" class="liPolicy active"><a href="#divPolicies" aria-controls="divPolicies" role="tab" data-toggle="tab">Policies</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content whitebg border1">
                <div role="tabpanel" class="tab-pane divPolicy active" id="divFaceBook">
                    <div class=" table-responsive">

                        <div style="display:none" id="hdnGoogleSharePost"></div>
                        <div id="bodyarea" class="minheight150" style="text-align:center;">

                            <div class="col-md-12">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger share_google" id="btnShare_google">
                                        <span class="icon">&nbsp;</span>
                                        <span class="label">Share on Google+</span>
                                    </button>
                                    <div style="display:none" id="hdnGoogleSharePost"></div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="fb-like" data-href="@OneFineRateAppUtil.clsUtils.ApplicationRootUrl()OfferReview?Id=@Model.PropertyId" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

                                    <input type="button" class="btn btn-primary share_fb" value="Share on facebook" />

                                </div>

                            </div>

                            <br />
                                <textarea id="google_PostMessage"></textarea>
                                <button class="btn btn-danger share_google" id="btnShare_google">
                                    <span class="icon">&nbsp;</span>
                                    <span class="label">Share on Google+</span>
                                </button>

                                <br />
                                <textarea id="fb_PostMessage"></textarea>
                                <input type="button" class="btn btn-primary share_fb" value="Share on facebook" />

                        </div>

                        <script>
                                        window.fbAsyncInit = function () {
                                            FB.init({
                                                appId: '491694151027578',
                                                xfbml: true,
                                                version: 'v2.7',
                                                status: true,
                                                //picture: 'http://fbrell.com/f8.jpg',
                                                //description: 'Dialogs provide a simple, consistent interface for applications to interfa'
                                            });
                                            FB.ui(
                                                    {
                                                        method: 'feed',
                                                        name: 'Facebook Dialogs',
                                                        link: 'https://developers.facebook.com/docs/dialogs/',
                                                        picture: 'http://fbrell.com/f8.jpg',
                                                        caption: 'Reference Documentation',
                                                        description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
                                                    },
                                                    function (response) {
                                                        if (response && response.post_id) {
                                                            alert('Post was published.');
                                                        } else {
                                                            alert('Post was not published.');
                                                        }
                                                    }
                                                );

                                            FB.Event.subscribe(event, function (response) {
                                                //debugger;
                                                alert('1');
                                                console.log(" -- Liked URL -- ");
                                                console.log(response);

                                            });

                                        };

                                        (function (d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id)) { return; }
                                            js = d.createElement(s); js.id = id;
                                            js.src = "//connect.facebook.net/en_US/sdk.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));

                                    </script>
                                <script>

                            $(document).ready(function () {
                                $("#bodyarea").on('click', '.share_fb', function (event) {
                                    event.preventDefault();
                                    var that = $(this);
                                    var post = that.parents('article.post-area');
                                    $.ajaxSetup({ cache: true });
                                    $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
                                        FB.init({
                                            appId: '491694151027578',
                                            version: 'v2.3' // or v2.0, v2.1, v2.0
                                        });
                                        FB.ui({
                                            method: 'share',
                                            title: '@Model.sHotelName',
                                            quote: 'Customer text description !',
                                            hashtag:'#Dontknow',
                                            picture: "@Model.sImgUrl",
                                            description: "@Html.Raw(Model.HotelDesc.TrimEnd('\r', '\n').Replace(Environment.NewLine, "").Replace("\"", "\'"))",
                                            href: 'https://ofrbook.azurewebsites.net/OfferReview?Id=@Model.PropertyId',
                                        },
                                          function (response) {
                                              if (response && !response.error_code) {
                                                  window.location.href = '/BookingConfirmation/@Model.BookingId'
                                              } else {

                                              }
                                          });
                                    });
                                });
                            });
                                </script>


                                <div class="fb-share-button"
                                         data-href="https://ofrbook.azurewebsites.net/OfferReview?Id=@Model.BookingId"
                                         data-layout="button"
                                         data-size="large">
                                    </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane divFacility" id="divEmail">

                    <div class="table-responsive">
                        @using (Html.BeginForm("ShareInformationViaEmail", "Negotiation", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, id = "frmShare", role = "form" }))
                        {
                            @Html.HiddenFor(u => u.BookingId)
                            @Html.HiddenFor(u => u.HotelDesc)
                            @Html.HiddenFor(u => u.iBookingId)
                            @Html.HiddenFor(u => u.iPropId)
                            @Html.HiddenFor(u => u.PropertyId)
                            @Html.HiddenFor(u => u.sBookedBy)
                            @Html.HiddenFor(u => u.sHotelName)
                            @Html.HiddenFor(u => u.sImgUrl)
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td style="width:7%;"><b>From</b></td>
                                        <td style="width:1%;">:</td>
                                        <td style="width:50%;">@Model.sBookedBy</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>To</b></td>
                                        <td>:</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Note</b></td>
                                        <td>:</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td><input type="submit" class="btn-primary btn " value="Send an Email" /></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>

                        }
                    </div>
                </div>

            </div>

        </div>*@


    <div style="text-align:center;" class="margintop10 marginbottom10">
        <a href="@Url.Action("BookingConfirmation", "Negotiation", new { bookingId= OneFineRateAppUtil.clsUtils.Encode(Model.iBookingId.ToString()) })" class="btn-danger btn">Skip to continue</a>
    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=491694151027578";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>

    $.getScript('https://apis.google.com/js/platform.js', function () {
        $.ajaxSetup({ cache: true });
        gapi.interactivepost.render('hdnGoogleSharePost');

        gapi.plus.go();
    });

    $(document).ready(function () {

        $("#bodyarea").on('click', '.share_fb', function (event) {
            event.preventDefault();
            $.ajaxSetup({ cache: true });


            FB.ui({
                method: 'share',
                title: '@Model.sHotelName',
                quote: $('textarea#fb_PostMessage').val(),
                picture: "@Model.sImgUrl",
                description: "@Html.Raw(Model.HotelDesc.TrimEnd('\r', '\n').Replace(Environment.NewLine, "").Replace("\"", "\'"))",
                href: '@OneFineRateAppUtil.clsUtils.ApplicationRootUrl()OfferReview?Id=@Model.PropertyId',
            },
              function (response) {
                  if (response && !response.error_code) {
                      window.location.href = '/BookingConfirmation/@Model.BookingId'
                  } else {

                  }
              });
        });


        $("#bodyarea").on('click', '.share_google', function (event) {


            var options = {
                description: "@Html.Raw(Model.HotelDesc.TrimEnd('\r', '\n').Replace(Environment.NewLine, "").Replace("\"", "\'"))",
                contenturl: '@OneFineRateAppUtil.clsUtils.ApplicationRootUrl()OfferReview/GetGoogleSharePage?propId=@Model.iPropId',
                contentdeeplinkid: 'https://developers.google.com/+/web/share',
                clientid: '970890325089-bnj8uo35f27bbd20vib07rff70r53n12.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                prefilltext: $('textarea#google_PostMessage').val(),
                calltoactionlabel: 'OneFineRate',
                calltoactionurl: '@OneFineRateAppUtil.clsUtils.ApplicationRootUrl()OfferReview?Id=@Model.PropertyId',
                calltoactiondeeplinkid: 'https://developers.google.com/+/web/share',
            };
            // Call the render method when appropriate within your app to display
            // the button.
            gapi.interactivepost.render('hdnGoogleSharePost', options);
            $('#hdnGoogleSharePost').click();
        });
    });

</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>