@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<script type="text/javascript">


    $(document).ready(function () {

        $('.btnCancel').click(function () {
            resetform('frmMacroArea');
            $('.close').click();
        });

        bindgrid(); //binding datatable

        function SaveMacroArea() {
            var f = document.getElementById('frmMacroArea');
            if (f.checkValidity()) {
                var values = {
                    countryid: $("#ddlCountry").val(),
                    stateid: $("#ddlState").val(),
                    cityid: $("#ddlCity").val(),
                    macroareaname: $("#txtMacroArea").val()
                };

                var Data = $.parseJSON(AjaxCallWithDataMVC("@Url.Action("AddMacroArea")", values));
                if (Data != null) {
                    if (Data.st == '1') {
                        bindgrid();
                        resetform('frmMacroArea');
                        $('.close').click();
                        toastr.success(Data.msg);
                        return true;
                    }
                    else if (Data.st == '0') {
                        toastr.error(Data.msg);
                        return false;
                    }
                }

            }
        };

        function UpdateMacroArea() {
            var f = document.getElementById('frmMacroArea');
            if (f.checkValidity()) {
                var values = {
                    id: $("#hdnId").val(),
                    countryid: $("#ddlCountry").val(),
                    stateid: $("#ddlState").val(),
                    cityid: $("#ddlCity").val(),
                    macroareaname: $("#txtMacroArea").val()
                };

                var Data = $.parseJSON(AjaxCallWithDataMVC("@Url.Action("UpdateMacroArea")", values));
                if (Data != null) {
                    if (Data.st == '1') {
                        bindgrid();
                        resetform('frmMacroArea');
                        $('.close').click();
                        toastr.success(Data.msg);
                        return true;
                    }
                    else if (Data.st == '0') {
                        toastr.error(Data.msg);
                        return false;
                    }
                }

            }
        };


        //Inserting data through Ajax
        document.getElementById('frmMacroArea').onsubmit = function (e) {
            e.preventDefault();
            var action = $("#btnSubmit").html();
            if (action == "Save") {
                SaveMacroArea();
            }
            else {
                UpdateMacroArea();
            }
        }
        //Pop up cancel button click event
        $('#btnCancel').click(function () {
            resetform('frmLocalityArea');
            $('.close').click();
        });
    });

    // Delete data from list
    function DeleteData(id, ipropId, status) {



        if (ipropId && ipropId != 0 && status === 'I') {
            bootbox.alert("You are not allowed to disable it as it is linked with a property.");
            return false;
        }

        if (status === 'I') {
            bootbox.confirm("Are you sure you want to disable it ?", function (result) {
                return myfunction(result);
            })
        }
        else if (status === 'A') {
            bootbox.confirm("Are you sure you want to enable it ?", function (result) {
                return myfunction(result);
            })
        }


        function myfunction(result) {
            if (result == true) {

                var values =
                    {
                        id: id,
                        status: status
                    };
                var Data = $.parseJSON(AjaxCallWithDataMVC("@Url.Action("DeleteMacroArea")", values));
                if (Data != null) {
                    if (Data.st == '1') {
                        bindgrid();
                        $('.close').click();
                        toastr.success(Data.msg);
                        return true;
                    }
                    else if (Data.st == '0') {
                        toastr.error(Data.msg);
                        return false;
                    }

                }
            }
        }
    }

    // bind list
    function bindgrid() {

        try {
            var aoColumns =
                [
                 { "sTitle": "Country", "mData": "sCountry" },
                 { "sTitle": "State", "mData": "sState" },
                 { "sTitle": "City", "mData": "sCity" },
                 { "sTitle": "Area", "mData": "sArea" },
                 { "sTitle": "Status", "mData": "cStatus" },
                 {
                     "sTitle": "Created On", "bSortable": false, "mData": "dtActionDate",
                     "mRender": function (data, type, full) {
                         return getNorDateTime(data);
                     }
                 },
                 { "sTitle": "Action By", "mData": "iActionBy", "bSortable": false },
                 {
                     "sTitle": "Edit", "bSortable": false, "mData": "iCountryId",
                     "mRender": function (data, type, full) {
                         var html = '<button type="button" onclick="EditData(this)" propid=' + full.ipropId + ' eid=' + full.iAreaId + ' countryid=' + full.iCountryId + ' stateid=' + full.iStateId + ' cityid=' + full.iCityId + ' macroareaname= \"' + full.sArea + '\"  class="btn btn-sm btn-warning">Edit</button>&nbsp';
                         if (full.cStatus == "Live") {
                             html += '<button type="button" onclick="DeleteData(' + full.iAreaId + ',' + full.ipropId + ',\'I\')";  class="btn btn-sm btn-danger">Disable</button>';
                         }
                         else {
                             html += '<button type="button" onclick="DeleteData(' + full.iAreaId + ',' + full.ipropId + ',\'A\')";  class="btn btn-success btn-sm">Enable</button>';
                         }
                         return html;
                     }
                 }


                ];
            DatatableServerSide("#tblData", aoColumns, "/Services/Service.asmx/GetAllMacroAreaRecords?id=1");
            $('.dataTables_filter input').attr('title', 'Type here to search in the Country,State,City and Area Column');
        }
        catch (e) {

        }

    }
    //fill form on click edit in the list
    function EditData(obj) {

        $('.form-group').removeClass('has-error has-success');

        var isLinked = false;
        if ($(obj).attr('propid') && $(obj).attr('propid') != 0) {
            isLinked = true;
        }


        $('#hdnId').val($(obj).attr('eid'));
        $("#ddlCountry").select2("val", $(obj).attr('countryid'));

        if (isLinked) {
            $("#ddlCountry").prop("disabled", true);
            $("#ddlState").prop("disabled", true);
            $("#ddlCity").prop("disabled", true);
            $('#lblNote').show();
        }
        else {
            $("#ddlCountry").prop("disabled", false);
            $("#ddlState").prop("disabled", false);
            $("#ddlCity").prop("disabled", false);
            $('#lblNote').hide();
        }

        var url = '@Url.Content("/")' + "MacroArea/BindStates";
        $.getJSON(url, { id: $(obj).attr('countryid') }, function (data) {
            cleardropdown("#ddlState");
            $.each(data.suggestions, function (index, optionData) {
                $("#ddlState").append("<option value='" + optionData.iStateId + "'>" + optionData.sState + "</option>");
            });
            $("#ddlState").select2("val", $(obj).attr('stateid'));

        });

        url = '@Url.Content("/")' + "MacroArea/BindCity";
        $.getJSON(url, { id: $(obj).attr('stateid') }, function (data) {
            cleardropdown("#ddlCity");
            $.each(data.suggestions, function (index, optionData) {
                $("#ddlCity").append("<option value='" + optionData.iCityId + "'>" + optionData.sCity + "</option>");
            });
            $("#ddlCity").select2("val", $(obj).attr('cityid'));

        });


        $("#txtMacroArea").val($(obj).attr('macroareaname'))
        $("#btnSubmit").html("Update");

        $('#AddMacroArea').modal({
            show: 'true'
        });

    }



</script>

<script>

    function cleardropdown(vardropdown) {
        $(vardropdown).empty();
        var option = $("<option />");
        option.attr("value", "").text("");
        $(vardropdown).append(option);

        $(vardropdown).select2("val", "");
    };

    function addmacroarea() {

        $('.form-group').removeClass('has-error has-success');

        $("#ddlCountry").prop("disabled", false);
        $("#ddlState").prop("disabled", false);
        $("#ddlCity").prop("disabled", false);
        $('#lblNote').hide();

        $("#ddlCountry").select2("val", "");
        cleardropdown("#ddlState");
        cleardropdown("#ddlCity");

        $("#txtMacroArea").val("");
        $("#btnSubmit").html("Save");
        $('#AddMacroArea').modal({
            show: 'true'
        });


    };

    $(function () {
        //On Country selection
        $("#ddlCountry").change(function () {
            var ddlsource = "#ddlCountry";
            var ddltarget = "#ddlState";
            if ($(ddlsource).val() != '') {
                var url = '@Url.Content("/")' + "MacroArea/BindStates";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    cleardropdown(ddltarget);
                    cleardropdown("#ddlCity");
                    $.each(data.suggestions, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.iStateId + "'>" + optionData.sState + "</option>");
                    });

                });
            }
            else {
                cleardropdown(ddltarget);
                cleardropdown("#ddlCity");
            }
        });
        //On State selection
        $("#ddlState").change(function () {
            var ddlsource = "#ddlState";
            var ddltarget = "#ddlCity";
            if ($(ddlsource).val() != '') {
                var url = '@Url.Content("/")' + "MacroArea/BindCity";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    cleardropdown(ddltarget);
                    $.each(data.suggestions, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.iCityId + "'>" + optionData.sCity + "</option>");
                    });

                });
            }
            else {
                cleardropdown(ddltarget);
            }
        });
    });

</script>


<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<div class="container margintop20">
    <div class="row panel panel-default">
        <div class="container panel-heading">
            <div class="col-md-6">
                <h4 class="panel-title">
                    Macro Area
                </h4>
            </div>

            <div class="col-md-6">
                <button type="button" class="pull-right btn btn-warning" data-target="#myModal" data-toggle="modal" onclick="addmacroarea();"><i class="fa fa-plus"></i> Add Macro Area </button>
            </div>
        </div>
        <div class="panel-body">

            <div class="table-responsive margintop20">
                <table class="table table-striped table-bordered table-hover display" id="tblData"></table>
            </div>
            <!-- End  table -->
        </div>
    </div>
    <!-- container div END bottom -->
</div>
<!-- Add Macro Area -->
<form id="frmMacroArea">
    @Html.Hidden("hdnId")
    <div id="AddMacroArea" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Macro Area</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="ddlCountry"> Country <span class="red">*</span></label>
                                @Html.DropDownList("ddlCountry", new SelectList(OneFineRateBLL.BL_Country.GetAllRecords(), "iCountryId", "sCountry"), "", new { @class = "form-control dropdown", required = true })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="ddlState">State <span class="red" >*</span></label>
                                @Html.DropDownList("ddlState", new SelectList(OneFineRateBLL.BL_tblStateM.GetAllRecordsById(0), "iStateId", "sState"), "", new { @class = "form-control dropdown", required = true })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="ddlCity"> City <span class="red">*</span></label>
                                @Html.DropDownList("ddlCity", new SelectList(OneFineRateBLL.BL_tblCityM.GetAllRecordsById(0), "iCityId", "sCity"), "", new { @class = "form-control dropdown", required = true })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="txtMacroArea">  Macro Area Name <span class="red">*</span> </label>
                                @Html.TextBox("txtMacroArea", null, new { @class = "form-control", pattern = "^[a-zA-Z]+[a-zA-Z0-9 ]*$", maxlength = "50", required = true })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <label id="lblNote" style="color:#ff6a00; display:none; float:left">
                        Note : You can not edit  as it is linked with a property.
                    </label>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger btnCancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</form>

<script>


    $("#frmMacroArea").validate({
        rules: {
            ddlCountry: "required",
            ddlState: "required",
            ddlCity: "required",
            txtMacroArea:
             {
                 required: true,
                 maxlength: 50
             }
        },
        errorPlacement: function (error, element) { },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');

        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });

    $(".dropdown").change(function () {

        var ddl = jQuery(this);
        var choice = ddl.val();
        if (choice > 0) {
            $(ddl).closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });

</script>
